 
<div class="row home" >
  <div class="col-2 p-0">
     <img src="../assets/images/city-of0god.jpg" class="img-responsive" >
    </div>
  <div class="col-2 p-0">
     <img src="../assets/images/kalakkanadi.jpg" width="190" class="img-responsive" >
  </div>   
  <div class="col-2 p-0">
     <img src="../assets/images/city-of0god.jpg" class="img-responsive" >
  </div>
  <div class="col-2 p-0">
    <img src="../assets/images/kalakkanadi.jpg" width="190" class="img-responsive" >
  </div>   
  <div class="col-2 p-0">
      <img src="../assets/images/city-of0god.jpg" class="img-responsive" >
  </div>
   <div class="col-2 p-0">
     <img src="../assets/images/kalakkanadi.jpg" width="190" class="img-responsive" >
    </div>           
</div>
<div class="row home" >
   <div class="col-2 p-0">
    <img src="../assets/images/city-of0god.jpg" class="img-responsive" >
    </div>
   <div class="col-2 p-0">
     <img src="../assets/images/kalakkanadi.jpg" width="190" class="img-responsive" >
    </div>   
    <div class="col-2 p-0">
        <img src="../assets/images/city-of0god.jpg" class="img-responsive" >
    </div>
    <div class="col-2 p-0">
        <img src="../assets/images/kalakkanadi.jpg" width="190" class="img-responsive" >
    </div>   
    <div class="col-2 p-0">
        <img src="../assets/images/city-of0god.jpg" class="img-responsive" >
    </div>
    <div class="col-2 p-0">
     <img src="../assets/images/kalakkanadi.jpg" width="190" class="img-responsive" >
    </div>           
</div>
<div class="row cinema-info" >
  <span class="cinema-info-header p-0">Media Cinemas Company</span>
 Media Cinema Company offers the most exhaustive database of movie related information to an Indian movie-going audience. It aims to be an end-to-end solution for a variety of users, including, but not limited to, consumers, content creators, exhibitors and affiliates, and serves the role of a one-stop shop for these users, providing information as well as solutions for anything related to the business of movies — consumption, exhibition and content creation. For the consumer, it provides access to an exhaustive database of movie related information, for the content creator, it is a platform to promote movies, sell music and related content and for the exhibitor, it is a platform to curate, promote content and aggregate user feedback. All the information on Moviebuff.com is also available in the form of an API for any movie-related website that requires up-to-date information and media. Moviebuff.com

 the most exhaustive database of movie related information to an Indian movie-going audience.<pre></pre>                                   It aims to be an end-to-end solution for a variety of users, including, but not limited to, consumers, content creators, exhibitors and affiliates, and serves the role of a one-stop shop for these users, providing information as well as solutions for anything related to the business of movies — consumption, exhibition and content creation. For the consumer, it provides access to an exhaustive database of movie related information, for the content creator, it is a platform to promote movies, sell music and related content and for the exhibitor, it is a platform to curate, promote content and aggregate user feedback. All the information on Moviebuff.com is also available in the form of an API for any movie-related website that requires up-to-date information and media. Moviebuff.com
 Moviebuff offers the most exhaustive database of movie related information to an Indian movie-going audience. It aims to be an end-to-end solution for a variety of users, including, but not limited to, consumers, content creators, exhibitors and affiliates, and serves the role of a one-stop shop for these users, providing information as well as solutions for anything related to the business of movies — consumption, exhibition and content creation. For the consumer, it provides access to an exhaustive database of movie related information, for the content creator, it is a platform to promote movies, sell music and related content and for the exhibitor, it is a platform to curate, promote content and aggregate user feedback. All the information on Moviebuff.com is also available in the form of an API for any movie-related website that requires up-to-date information and media. Moviebuff.com
</div>
<div class="row latest-movies-header">Latest Movies</div>
<div class="row cinema-info" *ngFor="let movie of allMovies | filterLatestMovies:allMovies">  
  <a class="cinema-link">{{movie.movie_name}}</a>
</div>
     

 