<div class="row about">
 <p>Media company has been a leading provider of technology in the film, video and audio domains and has pioneered several technology revolutions over the last three decades. The company was instrumental in bringing computer-based digital non-linear editing to India with Avid Technology, transforming the industry and forever changing the way Indian film and television programs were edited. The company subsequently brought digital cinema sound to India with DTS and helped Indian cinema leapfrog a generation, form mono sound directly to digital.</p>
 <h1>Milestones</h1>
 <p><strong>1993</strong><br>
	Introduced the concept of non-linear editing with Avid products into an industry which had never used computers before.</p>
  <p><strong>2000</strong><br>
	Introduced digital cinema sound with DTS and helped India leapfrog from mono sound directly to digital surround sound.</p>
  <p><strong>2004</strong><br>
	Introduced virtual set production with Orad and helped Indian television go on air with real news from virtual environments.</p>
  <p><strong>2000</strong><br>
	Demonstrated to the world of film sound, the potential to mix inside the virtual world of computers using Avid Pro Tools for the ultimate in creative flexibility.</p>
</div>
